<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="margin: 0px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sähkövahti2.0</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Brand-icons(1).css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body id="salamaB">
    <nav class="navbar navbar-expand-md bg-body" id="navbar0" style="padding: 0px;">
        <div class="container-fluid"><button class="btn btn-primary" type="button" style="width: 50px;height: 50px;margin: 5px;padding: 5px;background: url(&quot;assets/img/home2.png&quot;) center / contain no-repeat, var(--bs-body-bg);color: var(--bs-navbar-active-color);border-style: solid;border-radius: 5px;"></button><a class="navbar-brand" href="#" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;), var(--bs-body-bg);margin: 0px;padding: 0px;"><img width="100" height="50" style="height: 50px;text-align: center;background: var(--bs-body-bg);" src="assets/img/logo.png"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="width: 50px;height: 50px;background: url(&quot;assets/img/valikko.png&quot;) center / contain no-repeat;padding: 0px;border-style: none;border-color: var(--bs-navbar-active-color);border-radius: 5px;"><span class="visually-hidden">Toggle navigation</span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding: 0px;">
        <div class="row" style="padding: 10px;margin: 18px;width: 360px;height: 120px;">
            <div class="col-4 col-md-4" style="width: 100px;margin: 0px;height: 110px;padding: 0px;">
                <p style="text-align: center;background: var(--bs-body-bg);border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;border: 2px solid var(--bs-secondary-bg);height: 100px;width: 90px;">Päivän alin hinta {{lowest}} snt/kWh</p>
            </div>
            <div class="col-4 col-md-4" style="width: 100px;margin: 0px;height: 110px;padding: 0px;">
                <p style="background: var(--bs-body-bg);border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;text-align: center;border: 2px solid var(--bs-secondary-bg);width: 90px;margin: 0px;height: 100px;">Päivän keskihinta {{average}} snt/kWh</p>
            </div>
            <div class="col-3 col-md-4" style="width: 90px;padding: 0px;height: 110px;margin: 0px;">
                <p style="text-align: center;background: var(--bs-body-bg);border: 2px solid var(--bs-secondary-bg);border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;margin: 0px;width: 90px;height: 100px;">Päivän ylin hinta {{highest}} snt/kWh</p>
            </div>
        </div>
    </div>
    <div class="container" id="structure1">
        <div class="row">
            <div class="col-md-12">
                <h3 style="width: 360px;">Tuntihinnat</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive" id="table">
                    <table class="table">
                        <thead>
                            <tr id="tablerowhead" style="text-align: center;border-style: solid;border-color: rgb(255,255,255);">
                                <th>päivä</th>
                                <th id="cell1" style="border-style: solid;border-color: rgb(255,255,255);border-right-style: solid;">klo</th>
                                <th>hinta</th>
                                <th style="padding: 8px;margin: 0px;width: 150px;">kannattavuus</th>
                            </tr>
                        </thead>
                        <tbody style="border: 1px solid var(--bs-secondary-bg) ;">
                            {{#each tableData}}
                            <tr id="tablerowhead" style="text-align: center;border-style: solid;border-color: rgb(255,255,255);">
                            </tr>
                            <td>{{day}}</td>
                            <td>{{hour}}</td>
                            <td>{{price}}</td>
                            <td>
                                <img src="assets/img/crying2.png" width="20px" height="20px">
                                
                                <img src="assets/img/hearteyes2.png" width="20px" height="20px">
                                
                                <img src="assets/img/itsfine.png" width="20px" height="20px">
                                
                                </td>
                            
                            {{/each}}
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
   
</body>

</html>